<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="io.dcloud.uni_modules.wecheckinDingtalkAuth">
  <uses-permission android:name="android.permission.INTERNET" />
  <queries>
    <package android:name="com.alibaba.android.rimet" />
  </queries>
  <application>
    <activity
      android:name="com.wecheckin.app.ddauth.DDAuthCallbackActivity"
      android:exported="false"
      android:excludeFromRecents="true"
      android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    <activity-alias
      android:name="${applicationId}.ddauth.DDAuthActivity"
      android:targetActivity="com.wecheckin.app.ddauth.DDAuthCallbackActivity"
      android:exported="true"
      android:excludeFromRecents="true"
      android:theme="@android:style/Theme.Translucent.NoTitleBar" />
  </application>
</manifest>
